.about {
	margin-left: 1em;
	margin-bottom: 1em;
	color: #aaa;
}
.about2 {
	margin-top: 0.3em;
	margin-bottom: 1em;
	color: #aaa;
}
span.radio-form {
	float: left;
	width: 7em;
	margin-left: 1em;
}
input[type="radio"] {
	float: left;
}
span.radio-form label {
	margin: 1em 0 0 2em;
	font-weight: normal;
}
table.responseGrid {
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
table.responseGrid th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	background: #eee;
}
table.responseGrid td {
	width: 350px;
	padding: 10px;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.title {
	margin-left: 0.7em;
}
.back {
	margin: 1em 0em 1em 1em;
}
.ocapiParams {
	margin-left: 1em;
	margin-right: 1em;
}
textarea {
	width: 99.4%;
	height: 20em;
}
#formattedJson {
	border: 1px solid #aaa;
	padding: 0.2em;
}
#json-parse-error {
	color: red;
	font-weight: normal;
}
table td {
	word-break: break-all;
}
.clear {
	cursor: pointer;
	text-decoration: underline;
	margin-bottom: 1.5em;
	color: #0044cc;
	width: 4em;
	white-space: nowrap;
}